:host {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
}

.title-area {
    grid-column: 1 / -1;
}

.fonts-area, .sizes-area, .colors-area {
    display: flex;
    flex-direction: column;
}

.fonts-area {
    --string-selector-selected-color: pink;
}

.text-area {
    grid-row: 3;
    grid-column: 1 / -1;
    display: grid;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 8px;
}

textarea {
    resize: none;
    outline: 0px transparent;
    border: 0px transparent;
}
