<div class="title-area">
    <app-title caption="Hello Notepad" [background]="selectedColor()"/>
</div>
<div class="colors-area">
    <app-string-selector [options]="colors()" [(selectedOption)]="selectedColor"/>
</div>

<div class="fonts-area">
    <app-string-selector [options]="fonts()" [(selectedOption)]="selectedFont"/>
</div>

<div class="sizes-area">
    <app-string-selector [options]="sizes()" [(selectedOption)]="selectedSize"/>
</div>

<div class="text-area">
    <textarea
        [style.color]="selectedColor()"
        [style.font-family]="selectedFont()"
        [style.font-size]="selectedSize()"
    ></textarea>
</div>