<app-expander class="special">
    <span expander-title>hello</span>
    <ul>
        <li>clean the house</li>
        <li>Wash the dishes</li>
    </ul>
    <button class="first-button" expander-toggle>
        <span expander-open>less</span>
        <span expander-close>more</span>
        ...
    </button>
    <img class="sunset" src="https://t4.ftcdn.net/jpg/01/04/78/75/360_F_104787586_63vz1PkylLEfSfZ08dqTnqJqlqdq0eXx.jpg"/>
</app-expander>

<div class="bla">
    <app-expander>
        <img expander-title src="header.webp"/>
        <p>
         I am very well thank you
        </p>
        <img class="sunset" src="https://images.pexels.com/photos/1212600/pexels-photo-1212600.jpeg?cs=srgb&dl=pexels-lazybird-1212600.jpg&fm=jpg"/>
     </app-expander>
     
     <app-expander>
         <img expander-title src="header.webp"/>
         <p>
          I am very well thank you
         </p>
         <img class="sunset" src="https://images.pexels.com/photos/1212600/pexels-photo-1212600.jpeg?cs=srgb&dl=pexels-lazybird-1212600.jpg&fm=jpg"/>
      </app-expander>     
</div>
 

 <app-expander>
    <img expander-title src="header.webp"/>
    <p>
     I am very well thank you
    </p>
    <img class="sunset" src="https://images.pexels.com/photos/1212600/pexels-photo-1212600.jpeg?cs=srgb&dl=pexels-lazybird-1212600.jpg&fm=jpg"/>
 </app-expander>
 
 