/* You can add global styles to this file, and also import other style files */

:root {
    --base: rgb(126, 126, 218);

    --p-10: hwb(from var(--base) h 80 0);
    --p-20: hwb(from var(--base) h 60 0);
    --p-30: hwb(from var(--base) h 40 0);
    --p-40: hwb(from var(--base) h 20 0);
    --p-50: hwb(from var(--base) h 0 0);
    --p-60: hwb(from var(--base) h 0 20);
    --p-70: hwb(from var(--base) h 0 40);
    --p-80: hwb(from var(--base) h 0 60);
    --p-90: hwb(from var(--base) h 0 80);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

body {    
    display: flex;
}